body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;
  --background-dark: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --light-mode-text:hsl(200, 15%, 8%);
  --light-mode-input:hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --dark-mode-text-light-mode-elements: hsl(0, 0%, 100%);
  background: var(--background-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
